.calendar-right {
  margin-left: 20%;
}

.calendar-mentor {
  margin-left: 20vw;
  /* width: 2000px; */
  margin-bottom: 10vh;
}
.custom-calendar {
  width: 40vw;
  /* height: 0vh; */
  background-color: rgb(255, 255, 255);
  font-weight: 900;
  /* color: white; */
  border: 3px solid black;
}

.calendar-right h1 {
  margin-bottom: 10vh;
  margin-left: 20vw;
}
